
.banner{
    background-color: var(--bgcolor);
    padding: 5rem 0;
}
@media only screen and (max-width: 768px){
    .banner{
        padding: 0 1rem;
    }
}
@media only screen and (max-width: 460px){
    .banner__title{
        text-align: center;
        font-size: 1.5rem !important;
    }
    .banner__cta{
        flex-direction: column;
    }
    .banner__social{
        margin-top: 1.5rem;
    }
}